* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    cursor: default;
}

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #ADADAD;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.6);
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgba(222, 222, 222, 0.7);
    font-family: 'Open Sans', sans-serif;
}

.landing {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    display: block;
    position: fixed;
}

.mode-grabbing,
.mode-grabbing .top-titlebar,
.mode-grabbing .tools {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.top-titlebar-text{
    display: none;
}

.scene-text {
    font-weight: 300;
}

.scene-text, .scene-disc {
    position: absolute;
    z-index:1;
    width: 100%;
    text-align: center;
    top: 40px;
    color: white;
    text-shadow: 1px 1px 3px rgba(119, 119, 119, 0.4);
    font-size: 46pt;
    color: rgb(36, 68, 143);
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.scene-disc {
    color: grey;
    font-size: 28pt;
    top: 150px;
}

.scene-screen {
    position: fixed;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: block;
    background: rgba(255, 255, 255, 0.6); /*url(scene.png)*/
    background-position: center;
    background-repeat: no-repeat;
    -webkit-user-select: none;
}

.toolbar-head {
    background: rgba(12, 18, 27, 0.4);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 9pt;
    font-weight: 400;
    padding: 10px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
}

.btn-large {
    display: block;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
    height: 65px;
    color: #fff;
    line-height: 65px;
    text-align: center;
    background: rgb(92, 214, 32);
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.4) , 1px 1px 3px 0 rgba(119, 119, 119, 0.6);
    font-weight:600;
    text-shadow: 1px 1px 3px rgba(119, 119, 119, 0.4);
    font-size: 16pt;
    z-index: 100;
    position: relative;
}

.btn-large:active {
    background: #56c121;
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.4), inset 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.btn-new  {
    top: 200px;
    background: rgb(92, 214, 32);
}

.btn-new:active {
    background: #56c121;
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.4), inset 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.btn-gh {
    display: inline-block;
    left: 25%;
    width: 24%;
    float: left;
    top: 245px;
    background: #c04a4e;
}

.btn-gh:active {
    background: #b24044;
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.4), inset 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.btn-twt {
    display: inline-block;
    width: 24%;
    float: left;
    top: 245px;
    left: 27%;
    background: rgb(53, 106, 230);
    margin-bottom: 80px;
}

.btn-twt:active {
    background: #2d61da;
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.4), inset 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.app-by {
    width: 100%;
    padding: 10px;
    text-align: center;
    color: rgb(40, 59, 78);
    position: fixed;
    bottom: 0;
    font-size: 14pt;
    margin-top: 16px;
    background: url(bar.png) repeat-x;
    background-position: bottom;
    font-weight: 400;
    text-shadow: 1px 1px 7px rgb(255, 255, 255);
    z-index: 999;
}

.bg-prev, .border-prev {
    cursor: pointer;
}

.tools {
    display: none;
    position: fixed;
    top: 35px;
    left: -260px;
    bottom: 0;
    width: 260px;
    padding: 8px;
    overflow-y: auto;
    background: #232f3f;
    overflow-x: hidden;
    padding-bottom:10px;
    padding-top: 45px;
}

.resize-dir {
    background: rgba(123, 126, 129, 0.7);
}

.handle:hover {
    background: rgba(123, 126, 129, 0.7);
}

.blur {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    -o-filter: blur(1px);
    filter: blur(1px);
}

.tool-box {
    cursor: default;
    border-radius: 4px;
    padding: 5px;
    overflow: auto;
    height: auto;
    width: 100%;
}

.tool-box.box-open {
    background: rgb(36, 68, 143);
    box-shadow: 0px 1px 4px rgb(48, 48, 48);
    border: 1px solid rgb(36, 68, 143);
    margin-bottom: 7px;
    padding: 5px;
    padding-top: 4px;
}

.tool-box .title {
    width: 100%;
    display: block;
    border-radius: 4px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding: 7px;
    text-align: center;
    font-size: 9pt;
    font-weight: 600;
    cursor: pointer;
    background-color: rgb(53, 106, 230);
    box-shadow: inset 0px 1px 1px rgb(53, 68, 143), inset 0px -2px 1px rgb(53, 68, 143);
    margin-bottom: 5px;
}

.tool-item {
    margin-top: 5px;
}

.tool-position .tool-item {
    line-height: 25px;
}

.tool-box .btn-tool {
    display: inline-block;
    color: #fff;
    min-width: 25px;
    min-height: 25px;
    line-height: 25px;
    margin-left:4px;
    text-align: center;
    font-size: 14pt;
    cursor: pointer;
    background-color: rgb(53, 106, 230);
    border: 1px solid rgb(36, 68, 143);
}

.bg-prev, .border-prev {
    float:left;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.btn-tool.btn-med {
    padding: 0px;
    font-size: 9pt;
    display:inline-block;
    float:left;
    padding-left: 5px;
    padding-right: 5px;
}

.tool-box .btn-tool:active {
    opacity: 0.7;
}

.tool-box .na {
    display: block;
    padding: 4px;
    font-size: 9pt;
    color: #fff;
}

.tool-box .tool-content {
    padding: 4px;
    display: none;
    font-size: 9pt;
    color: #fff;
}

.tool-box .box-open .tool-content {
    display: block;
}

.edit-box {
    display: block;
    background: #fff;
    width: 300px;
    height: 300px;
    /*left: 100px;*/
    top: 150px;
    position: relative;
    box-sizing: border-box;
}

.shadow-basic {
    box-shadow: 1px 0 13px rgb(46, 46, 46);
}

#content {
    margin: 0;
    padding: 0;
    top: 35px;
    right: 0;
    left: 0;
    overflow: auto;
    bottom: 0;
    opacity: 0;
    background-color: rgba(222, 222, 222, 1.0);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQYV2M8efLkfwY0YG5uzoguxjgUFKI7GsTH5m4M3w1ChQDL9iTNLhPUIAAAAABJRU5ErkJggg==);
    background-attachment: local;
}

.top-titlebar {
    z-index:5;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 35px;
    background-color: transparent;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    box-shadow: none;
    border: 0;
}

.top-titlebar.app-title {
    z-index:5;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 35px;
    background-color: #394555;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    box-shadow: 0px 1px 4px rgb(48, 48, 48);
    border: 1px solid #252e3a;
}

.top-titlebar-icon {
  position: absolute;
  left: -9000px;
  margin-top: 0;
  margin-bottom: 0;
  width: 35px;
  height: 35px;
}

.top-titlebar-icon.app-title {
  position: absolute;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 35px;
  height: 35px;
}

.top-titlebar-text {
  position: absolute;
  left: 35px;
  width: 80%;
  margin-top: 6px;
  margin-bottom: 6px;
  text-align:center;
  font-size: 11pt;
  color: #000;
}

.top-titlebar-text.app-title {
    margin-top: 5px;
    margin-bottom: 6px;
    text-align: left;
    font-size: 13pt;
    color: rgb(255, 255, 255);
    font-weight: 300;
}

.top-titlebar-close-button {
  position: absolute;
  color: rgb(219, 63, 63);
  right: 0px;
  width: 35px;
  height: 33px;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-app-region: no-drag;
  background: url(button_close_hover.png);
}

.top-titlebar-close-button img {
    display: none;
}

.top-titlebar-close-button.app-title {
  position: absolute;
  color: rgb(219, 63, 63);
  right: 0px;
  width: 35px;
  height: 33px;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.top-titlebar-close-button.app-title img {
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.top-titlebar-divider {
  position: absolute;
  left: 0px;
  top: 34px;
  width: 0;
  height: 0;
}

.handle {
    display: none;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
    height: 0;
    width: 0;
    position: absolute;
}
.is-dragging {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.handle.h-top {
    border-bottom: 2px dotted rgba(0, 0, 0, 0.7);
    padding: 5px;
}

.handle.h-bottom {
    border-top: 2px dotted rgba(0, 0, 0, 0.7);
    padding: 5px;
}

.handle.h-left{
    border-right: 2px dotted rgba(0, 0, 0, 0.7);
    padding: 5px;
}

.handle.h-right {
    border-left: 2px dotted rgba(0, 0, 0, 0.7);
    padding: 5px;
}

.twitter-share-button {
    display: none;
    position: absolute;
    top: 7px;
    right: -15px;
}